/*styles for biosite2019*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300i,400,500i,700&display=swap');

/* BASIC STYLES */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  margin: 0;
  padding: 0;
  color: #0E0033;
  font-family: Roboto;
}

/* TEMPLATE PAGE */
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  width: 95%;
  max-width: 1000px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header h1 {
	background-color: #02009F;
	color: white;
	font-size: 2rem;
	font-family: Roboto Slab, serif;
	font-weight: 300;
	padding: 1rem;
	padding-top: 3rem;
	text-align: center;
	margin: 0;
}

nav a {
  margin: 1rem;
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: #02009F;
}

nav a:hover, nav a:active {
  font-weight: 700;
}

nav a:last-of-type, footer img:last-of-type {
  margin-right: 0;
}

footer {
  width: 100%;
  padding: 3rem 0;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  text-align: center;
  background-color: #EFEFF5;
}

footer div {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer p {
  text-align: left;
  max-width: 200px;
}

footer div div {
  justify-content: flex-end;
}

footer img {
  width: 32px;
  margin: 1rem;
}

@media only screen and (max-width: 600px) {

  header, footer div, footer div div {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  nav, nav a {
    margin: 1.5rem;
  }

  nav a:last-of-type, footer img:last-of-type {
    margin-right: 1rem;
  }

  footer {
    padding: 1rem 0;
  }

}
